.tituloh1{
    font-size: 200%;
    color: #ffffff;

}

.tituloM {
    font-size: 200%;
    color: #ffffff;
   }

.descrip{
    color: gold;
}

.descripV{
    color: gold;
    font-size:200%;
}



.titulosM{
    color: white;
}

.textM{
    width: 500px;

}

.cuerpo{
    margin-top: 2%;
}


.mod{
    border-color: goldenrod;
    color: #ffffff;
    background-color: black;
    margin-bottom: 20px;
    font-size:small;
    border-radius: 20px 20px 20px 20px;
    width: 100px;
    height: 40px;
    
   }


   
.mod:hover{
    cursor: pointer;
    box-shadow: 2px 2px 40px rgb(55, 232, 11);
   }

   .mod:active{
    color:black;
    background-color:white;
    font-size: 90%;
    box-shadow: 2px 2px 40px rgba(227, 234, 8, 0.5);
   }
